<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.facebook.com/anakingmsr/"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="mohamedhamdy94.github.io/Mohamed-Hamdy/"
        role="button"
        ><i class="fa fa-globe"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="mailto:mohamedhamdyahmed94@gmail.com"
        role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://instagram.com/gautamkrishnar"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.linkedin.com/in/mohamed-hamdy-ahmed-mohamed-138693219/"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://github.com/MohamedHamdy94"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->

    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <h2>I'm Mohamed Hamdy, a Full Stack Web Developer using MEARN </h2>
      <h3> Graduated from Information Technology Institute (ITI)</h3>
      <p>
        my passion for software lies with dreaming up ideas and making them come
        true with elegant interfaces. i take great care in the experience and
        code quality of the things I build. i learned a lot from the open-source
        community and i love how collaboration and knowledge sharing happened
        through open-source.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class=""></section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Mohamed Hamdy</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
