<div class="container-fluid">
  <div class="row justify-content-center">

    <h1 class="text-primary fw-bold text-center pt-5">Register</h1>
    <form class="m-5 col-5 d-flex flex-column" [formGroup]="loginForm" (ngSubmit)="submitloginForm()">
        <div class="mb-3">
            <label for="name" class="form-label fw-bold fs-5">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name">
            <div class="text-danger" *ngIf="
              loginForm.controls['name'].touched && !loginForm.controls['name'].valid
            ">
                <small *ngIf="formControls['name'].errors?.['required']">
                    this field is required
                </small>
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label fw-bold fs-5">Email</label>
            <input type="email" class="form-control" id="email" formControlName="emailAddress" />
            <div class="text-danger" *ngIf="
              loginForm.controls['emailAddress'].touched && !loginForm.controls['emailAddress'].valid
            ">
                <small *ngIf="formControls['emailAddress'].errors?.['required']">
                    this field is required
                </small>
                <small *ngIf="formControls['emailAddress'].errors?.['pattern']">
                    this field is not mactch the email format
                </small>
            </div>
        </div>
        <div class="mb-3">
            <label for="userName" class="form-label fw-bold fs-5">User Name</label>
            <input type="text" class="form-control" id="userName" formControlName="userName">
            <div class="text-danger" *ngIf="
              loginForm.controls['userName'].touched && !loginForm.controls['userName'].valid
            ">
                <small *ngIf="formControls['userName'].errors?.['required']">
                    this field is required
                </small>
                <small *ngIf="formControls['userName'].errors?.['pattern']">
                    this field is contain spaces
                </small>
            </div>
        </div>
        <div class="mb-3">
            <label for="pass" class="form-label fw-bold fs-5">Password</label>
            <input type="password" class="form-control" id="pass" formControlName="password">
            <div class="text-danger" *ngIf="
              loginForm.controls['password'].touched && !loginForm.controls['password'].valid
            ">
                <small *ngIf="formControls['password'].errors?.['required']">
                    this field is required
                </small>
                <small *ngIf="formControls['password'].errors?.['minlength']">
                    the min length must be 8
                </small>
                <small *ngIf="formControls['password'].errors?.['pattern']">
                    this field is not mactch the password format
                </small>
            </div>
        </div>
        <div class="mb-3">
            <label for="confirmPass" class="form-label fw-bold fs-5">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPass" formControlName="confirmPassword">
            <div class="text-danger" *ngIf="
              loginForm.controls['confirmPassword'].touched && !loginForm.controls['password'].valid
            ">
                <small *ngIf="formControls['confirmPassword'].errors?.['required']">
                    this field is required
                </small>
                <small *ngIf="formControls['confirmPassword'].errors?.['pattern']">
                    this field is not mactch the password format
                </small>
                <small *ngIf="formControls['confirmPassword'].errors?.['minLength']">
                    the min length must be 8
                </small>
                <small *ngIf="formControls['password'].errors?.['confirmedValidator']">
                    Password and Confirm Password must be match.
                </small>
            </div>
        </div>
        <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary  fw-bold">Submit</button>
    </form>
</div>
</div>