h5 , p{
  white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
max-width: 100ch;
font-weight: bolder;
}
h5{
  font-size: 18px;
}
img{
  height: 300px;
  width: 270px;
}
.example-card{
  max-width: 500px;
  width: 350px;
  min-width:250px
}